body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 240, 240);  
}
header{
    background-color: rgb(69, 95, 6);
    padding:20px;
}
h1{
    display: flex;
    justify-content: center
}
h3{
    display: flex;
    justify-content: center
}
li{
    list-style: none;
    letter-spacing: 2px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color: rgb(221, 220, 148);
    
  }
#nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: normal;
    margin-right: 80%;
    
}
#divtable{
  display: flex;
  justify-content: center;
  background-color: aqua;  
}

#divInformation{
display: flex;
flex-direction: column;
align-content: flex-end;
}

#mensagemErro {
    font-size: 1.2em;
    font-weight: bold;
    padding: 4px;
    color: red;
}

#resultados {
    display: none;
}

.resultado {
    font-weight: bold;
}
